@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27%29%3B');
@import url('https://fonts.googleapis.com/css2?family=Roboto%3Awght%40300&display=swap%27%29%3B');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(https://img.freepik.com/fotos-premium/fondo-papel-abstracto-color-azul_78899-602.jpg?w=2000);
}
.header{
    background-color: #21BF17 ;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'open sans';
    color: white;
}

.container-header{
    margin-left: 20px;
    font-size: 1.3rem;
}

.link{
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 15px;
    padding:  10px;
    transition: all 0.5s ease;

}

.link:hover{
    background-color: #93c1f0;
}

form{
    margin: 50px auto;
    background-color: #2e4053;
    width: 700px;
    padding: 2.5rem;
    border-radius: 5px;
}

.forms-grupos{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    font-family: 'roboto';
    font-weight: 900;
}

input[type="text"]{
    margin: 15px 0;
    font-size: 19px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #2e4053;
}

input[type="number"]{
    margin: 15px 0;
    font-size: 19px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #2e4053;
}

input[type="tipo"]{
    margin: 15px 0;
    font-size: 19px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #2e4053;
}

p{
    font-size: 21px;
}

.selectop{
    margin: 15px 0;
    font-size: 19px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #2e4053;
    width: 100%;
}

input[type="checkbox"]{
    margin-bottom: 15px;
    font-family: 'Roboto';
    font-weight: 700;
}

.button{
    margin-top: 25px;
}

input[type="submit"]{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #21BF17;
    color: white;
    font-family: 'Roboto';
    font-weight: 700;
    transition: all 0.5s ease;
}

input[type="submit"]:hover{
    background-color: #1ea095;
}

.footer{
    background: #212f3c;
    padding:  3px;
    display: flex;
    justify-content: space-between;
}
